@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --green: hsl(117, 75%, 52%);
    --blk: hsl(0, 2%, 12%);
    --tan: hsl(49, 57%, 91%);
}

*{
    margin: 0;
    padding: 1%;
    box-sizing: border-box;
}

html{
    max-width: 1440px;
}

body{
    font-family: 'Syne', sans-serif;
    position: relative;
}

.contact{
    /* border: 1px solid rgb(43, 251, 43); */
}

.title{
    /* border: 2px solid rgb(235, 135, 230); */
    display: inline-block;
    width: 45%;
    /* margin-top: 10px; */

}



.crest{
    position: absolute;
    /* border: 1px palevioletred solid; */
    height: 85px;
    top: 9%;
    right: 10%;
}

.line{
    margin:0%;
    line-height: 100%;

}

.container{
    display: flex;
}

.form{
    flex: 1;
    border: 2px solid blueviolet;
    margin-right: 20px;
}

.FAQ{
    display: block;
    border: 2px dashed green;
}